@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}
* {
  font-family: "Poppins", "Courier New", Courier, monospace;
}
.navbar {
  height: 3.5rem;
}
.navbar-brand {
  svg {
    width: 8rem;
    height: 10rem;
  }
}
.bg {
  background-color: #4ee9c3;
  color: black;
}
.navbar-nav {
  font-size: x-large;
}
.mx-auto {
  .nav-item {
    padding-right: 2em;
  }
}

.form-inline {
  * {
    margin: 0px;
    padding: 0px;
  }
  button {
    height: 50px;
    width: 50px;
  }
  input {
    border-radius: 25px;
    padding-left: 20px;
    text-align: left;
  }
}
section {
  img {
    width: 100%;
    height: 33.7rem;
  }
}
